<div class="hero-container flex-grid-half">
    <div class="col-1 grid-item">
        <div class="content">
            <h1>The headphones of the future.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repudiandae rerum libero ipsum asperiores omnis mollitia, nostrum commodi placeat ea itaque modi corrupti corporis nam voluptas aut reprehenderit eaque culpa.</p>
            <div class="actions flex-row-start">
                <a class="btn-solid-brand">Signup</a>
                <a class="btn-outline-brand">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-2 grid-item">
        <div class="content">
            <img src="https://i.ibb.co/37Y74kv/showcase.jpg">
        </div>
    </div>
</div>