<div class="gallery-container">
    <div class="gallery">
        <div class="grid">
          <div *ngFor="let item of gallery" class="grid-item">
            <figure class="img-container">
                <img src="{{item.src}}" />
                <figcaption class="img-content">
                  <h2 class="title">Smart Watch</h2>
                  <h3 class="category">Showcase</h3>
                </figcaption>
                <span class="img-content-hover">
                  <h2 class="title">Smart Watch</h2>
                  <h3 class="category">Showcase</h3>
                </span>
            </figure>
        </div>
        </div>
    </div>
</div>