@import '../../../../assets/styles/core.scss';
@import '../../../../assets/styles/constants.scss';

$white: #fff;
$black: #2e2e2e;
$gray: #787878;
$highlight: #ea8478;
$footer: #f7f7f7;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

ul li {
  margin: 0 1.5rem 0 0;
}

a {
  color: $gray;
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover {
    color: $black;
  }
  &.active {
    color: $black;
  }
}

#highlight {
  color: $highlight;
  font-size: 1.25rem;
}




.img-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  &:hover .img-content-hover {
    display: block;
  }
  img {
	width: 100%;
    height: 100%;
	object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
  }
  .img-content {
    display: none;
  }
  .img-content-hover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    display: none;
    padding: 1rem;
    background: $white;
    font-weight: 400;
    margin-top: 1.25rem;
    margin-left: -2rem;
  }
  .title {
    color: $black;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .category {
    font-size: 1rem;
    color: $gray;
  }
}


.gallery {
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    &-item:first-child {
      grid-row: 1/3;
      grid-column: 1/3;
    }
    &-item:nth-child(2) {
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }
}

@supports (display: grid) {
  .gallery .grid {
    grid-gap: 1rem;
  }
}


@media screen and (max-width: 1024px) {
  img:hover {
    transform: none;
  }
  
  .img-container {
    height: 100%;
    &:hover .img-content-hover {
      display: none;
    }
  }

  .img-content {
    display: block;
    padding: 1rem 0;
  }
}