<section class="template-heading">
    <div class="">
        <h3>Design Templates</h3>
        <p>What do you want to do next with your app?</p>
    </div>
    <div class="template-list flex-row-start">
        <label class="cls-label touchable" (click)="loadWindow('hero')" [ngClass]="{'active': selectedTemplate == 'hero'}">Hero</label>
        <label class="cls-label touchable" (click)="loadWindow('features')" [ngClass]="{'active': selectedTemplate == 'features'}">Features</label>
        <label class="cls-label touchable" (click)="loadWindow('gallery')" [ngClass]="{'active': selectedTemplate == 'gallery'}">Gallery</label>
        <label class="cls-label touchable" (click)="loadWindow('pricing')" [ngClass]="{'active': selectedTemplate == 'pricing'}">Pricing</label>
        <label class="cls-label touchable" (click)="loadWindow('hiw')" [ngClass]="{'active': selectedTemplate == 'hiw'}">How It Works</label>
        <label class="cls-label touchable" (click)="loadWindow('faqs')" [ngClass]="{'active': selectedTemplate == 'faqs'}">Faqs</label>
        <label class="cls-label touchable" (click)="loadWindow('testimonials')" [ngClass]="{'active': selectedTemplate == 'testimonials'}">Testimonials</label>
        <label class="cls-label touchable" (click)="loadWindow('team')" [ngClass]="{'active': selectedTemplate == 'team'}">Team</label>
        <label class="cls-label touchable" (click)="loadWindow('newsletter')" [ngClass]="{'active': selectedTemplate == 'newsletter'}">Newsletter</label>
        <label class="cls-label touchable" (click)="loadWindow('connect')" [ngClass]="{'active': selectedTemplate == 'connect'}">Contact</label>
        <label class="cls-label touchable" (click)="loadWindow('call-to-action')" [ngClass]="{'active': selectedTemplate == 'call-to-action'}">Call to action</label>
        <label class="cls-label touchable" (click)="loadWindow('http-codes')" [ngClass]="{'active': selectedTemplate == 'http-codes'}">HTTP Codes</label>
        <label class="cls-label touchable" (click)="loadWindow('footers')" [ngClass]="{'active': selectedTemplate == 'footers'}">Footers</label>
    </div>
</section>

<section class="template-browser">
    <div *ngIf="selectedTemplate == 'features'">
        <app-browser [template]="'features'"></app-browser>
        <app-browser [template]="'features-2'"></app-browser>
    </div>
    <div *ngIf="selectedTemplate == 'hiw'">
        <app-browser [template]="'hiw-1'"></app-browser>
        <app-browser [template]="'hiw-2'"></app-browser>
    </div>
    <div *ngIf="selectedTemplate == 'hero'">
        <app-browser [template]="'hero-1'"></app-browser>
        <app-browser [template]="'hero-2'"></app-browser>
    </div>
    <div *ngIf="selectedTemplate == 'gallery'">
        <app-browser [template]="'gallery-1'"></app-browser>
        <app-browser [template]="'gallery-2'"></app-browser>
    </div>
    <div *ngIf="selectedTemplate == 'newsletter'">
        <app-browser [template]="'newsletter-1'"></app-browser>
        <app-browser [template]="'newsletter-2'"></app-browser>
    </div>
    <div *ngIf="selectedTemplate == 'testimonials'">
        <app-browser [template]="'testimonials-1'"></app-browser>
    </div>
    <div *ngIf="selectedTemplate == 'pricing' || selectedTemplate == 'team' || selectedTemplate == 'connect' || selectedTemplate == 'faqs'">
        <app-browser [template]="selectedTemplate"></app-browser>
    </div>
</section>