<div class="newsletter-container">
    <div class="newsletter-card flex-column-center">
        <div class="newsletter-heading">
            <h1>Decentralize the way<br>your ideas raise capital.</h1>
            <span class="text-3">Subscribe to Polkastarter to get the latest updates<br>about our tech and business announcements.</span>
        </div>
        <div class="newsletter-form flex-row-center">
            <div class="newsletter-form-box flex-row-center">
                <input placeholder="Your email address here">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" clip-rule="evenodd" d="m1.25 12c0-5.93706 4.81294-10.75 10.75-10.75 5.9371 0 10.75 4.81294 10.75 10.75 0 5.9371-4.8129 10.75-10.75 10.75-5.93706 0-10.75-4.8129-10.75-10.75zm12.2803-4.53033c-.2929-.29289-.7677-.29289-1.0606 0s-.2929.76777 0 1.06066l2.2196 2.21967h-7.6893c-.41421 0-.75.3358-.75.75s.33579.75.75.75h7.8472l-2.4116 2.7561c-.2728.3117-.2412.7856.0705 1.0583.3117.2728.7856.2412 1.0583-.0705l3.5-4c.26-.2972.2451-.745-.0341-1.0242z" fill="#ffffff" fill-rule="evenodd" data-original="#000000" style="" class=""/></g></svg>
                </i>
            </div>
        </div>
    </div>
</div>