<div class="pricing-container">
    <div class="pricing-heading flex-column-center">
        <h2>Start saving time today and<br>choose your best plan</h2>
        <span>Best for freelance developers who need to save time</span>
    </div>
    <div class="pricing-cards">
        <li class="pricing-card-container">
            <div class="pricing-card cls-card">
                <div class="pricing-title flex-column-center">
                    <h3>Begginer</h3>
                    <h3>$32.99</h3>
                    <span>user per month</span>
                </div>
                <div class="pricing-features">
                    <li class="pricing-features-item">
                        <i class="cls-icon size-s">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="m12 24c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm0-23c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" fill="#42b10f" data-original="#000000" style=""/></g><g xmlns="http://www.w3.org/2000/svg"><path d="m11.5 16c-.128 0-.256-.049-.354-.146l-3.5-3.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.146 3.146 5.646-5.646c.195-.195.512-.195.707 0s.195.512 0 .707l-6 6c-.096.097-.224.146-.352.146z" fill="#42b10f" data-original="#000000" style=""/></g></g></svg>
                        </i>
                        <span>3 Emails</span>
                    </li>
                    <li class="pricing-features-item">
                        <i class="cls-icon size-s">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="m12 24c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm0-23c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" fill="#42b10f" data-original="#000000" style=""/></g><g xmlns="http://www.w3.org/2000/svg"><path d="m11.5 16c-.128 0-.256-.049-.354-.146l-3.5-3.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.146 3.146 5.646-5.646c.195-.195.512-.195.707 0s.195.512 0 .707l-6 6c-.096.097-.224.146-.352.146z" fill="#42b10f" data-original="#000000" style=""/></g></g></svg>
                        </i>
                        <span>1 Database</span>
                    </li>
                    <li class="pricing-features-item"> 
                        <i class="cls-icon size-s">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="m12 24c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm0-23c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" fill="#42b10f" data-original="#000000" style=""/></g><g xmlns="http://www.w3.org/2000/svg"><path d="m11.5 16c-.128 0-.256-.049-.354-.146l-3.5-3.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.146 3.146 5.646-5.646c.195-.195.512-.195.707 0s.195.512 0 .707l-6 6c-.096.097-.224.146-.352.146z" fill="#42b10f" data-original="#000000" style=""/></g></g></svg>
                        </i>
                        <span>Unilimited Storage</span>
                    </li>
                    <li class="pricing-features-item">
                        <i class="cls-icon size-s">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="m12 24c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm0-23c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" fill="#42b10f" data-original="#000000" style=""/></g><g xmlns="http://www.w3.org/2000/svg"><path d="m11.5 16c-.128 0-.256-.049-.354-.146l-3.5-3.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.146 3.146 5.646-5.646c.195-.195.512-.195.707 0s.195.512 0 .707l-6 6c-.096.097-.224.146-.352.146z" fill="#42b10f" data-original="#000000" style=""/></g></g></svg>
                        </i>
                        <span>10GB Storage</span>
                    </li>
                </div>
                <div class="pricing-actions flex-row-center">
                    <a class="btn-solid-brand size-s">Start Trial</a>
                    <a class="btn-outline-brand size-s">Purchase</a>
                </div>
            </div>
        </li>
        <li class="pricing-card-container">
            <div class="pricing-card cls-card">
                <div class="pricing-title flex-column-center">
                    <h3>Begginer</h3>
                    <h3>$32.99</h3>
                    <span>user per month</span>
                </div>
                <div class="pricing-features">
                    <li class="pricing-features-item">
                        <i class="cls-icon size-s">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="m12 24c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm0-23c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" fill="#42b10f" data-original="#000000" style=""/></g><g xmlns="http://www.w3.org/2000/svg"><path d="m11.5 16c-.128 0-.256-.049-.354-.146l-3.5-3.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.146 3.146 5.646-5.646c.195-.195.512-.195.707 0s.195.512 0 .707l-6 6c-.096.097-.224.146-.352.146z" fill="#42b10f" data-original="#000000" style=""/></g></g></svg>
                        </i>
                        <span>3 Emails</span>
                    </li>
                    <li class="pricing-features-item">
                        <i class="cls-icon size-s">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="m12 24c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm0-23c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" fill="#42b10f" data-original="#000000" style=""/></g><g xmlns="http://www.w3.org/2000/svg"><path d="m11.5 16c-.128 0-.256-.049-.354-.146l-3.5-3.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.146 3.146 5.646-5.646c.195-.195.512-.195.707 0s.195.512 0 .707l-6 6c-.096.097-.224.146-.352.146z" fill="#42b10f" data-original="#000000" style=""/></g></g></svg>
                        </i>
                        <span>1 Database</span>
                    </li>
                    <li class="pricing-features-item"> 
                        <i class="cls-icon size-s">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="m12 24c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm0-23c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" fill="#42b10f" data-original="#000000" style=""/></g><g xmlns="http://www.w3.org/2000/svg"><path d="m11.5 16c-.128 0-.256-.049-.354-.146l-3.5-3.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.146 3.146 5.646-5.646c.195-.195.512-.195.707 0s.195.512 0 .707l-6 6c-.096.097-.224.146-.352.146z" fill="#42b10f" data-original="#000000" style=""/></g></g></svg>
                        </i>
                        <span>Unilimited Storage</span>
                    </li>
                    <li class="pricing-features-item">
                        <i class="cls-icon size-s">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="m12 24c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm0-23c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" fill="#42b10f" data-original="#000000" style=""/></g><g xmlns="http://www.w3.org/2000/svg"><path d="m11.5 16c-.128 0-.256-.049-.354-.146l-3.5-3.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.146 3.146 5.646-5.646c.195-.195.512-.195.707 0s.195.512 0 .707l-6 6c-.096.097-.224.146-.352.146z" fill="#42b10f" data-original="#000000" style=""/></g></g></svg>
                        </i>
                        <span>10GB Storage</span>
                    </li>
                </div>
                <div class="pricing-actions flex-row-center">
                    <a class="btn-solid-brand size-s">Start Trial</a>
                    <a class="btn-outline-brand size-s">Purchase</a>
                </div>
            </div>
        </li>
        <li class="pricing-card-container">
            <div class="pricing-card cls-card">
                <div class="pricing-title flex-column-center">
                    <h3>Begginer</h3>
                    <h3>$32.99</h3>
                    <span>user per month</span>
                </div>
                <div class="pricing-features">
                    <li class="pricing-features-item">
                        <i class="cls-icon size-s">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="m12 24c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm0-23c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" fill="#42b10f" data-original="#000000" style=""/></g><g xmlns="http://www.w3.org/2000/svg"><path d="m11.5 16c-.128 0-.256-.049-.354-.146l-3.5-3.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.146 3.146 5.646-5.646c.195-.195.512-.195.707 0s.195.512 0 .707l-6 6c-.096.097-.224.146-.352.146z" fill="#42b10f" data-original="#000000" style=""/></g></g></svg>
                        </i>
                        <span>3 Emails</span>
                    </li>
                    <li class="pricing-features-item">
                        <i class="cls-icon size-s">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="m12 24c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm0-23c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" fill="#42b10f" data-original="#000000" style=""/></g><g xmlns="http://www.w3.org/2000/svg"><path d="m11.5 16c-.128 0-.256-.049-.354-.146l-3.5-3.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.146 3.146 5.646-5.646c.195-.195.512-.195.707 0s.195.512 0 .707l-6 6c-.096.097-.224.146-.352.146z" fill="#42b10f" data-original="#000000" style=""/></g></g></svg>
                        </i>
                        <span>1 Database</span>
                    </li>
                    <li class="pricing-features-item"> 
                        <i class="cls-icon size-s">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="m12 24c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm0-23c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" fill="#42b10f" data-original="#000000" style=""/></g><g xmlns="http://www.w3.org/2000/svg"><path d="m11.5 16c-.128 0-.256-.049-.354-.146l-3.5-3.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.146 3.146 5.646-5.646c.195-.195.512-.195.707 0s.195.512 0 .707l-6 6c-.096.097-.224.146-.352.146z" fill="#42b10f" data-original="#000000" style=""/></g></g></svg>
                        </i>
                        <span>Unilimited Storage</span>
                    </li>
                    <li class="pricing-features-item">
                        <i class="cls-icon size-s">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="m12 24c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm0-23c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" fill="#42b10f" data-original="#000000" style=""/></g><g xmlns="http://www.w3.org/2000/svg"><path d="m11.5 16c-.128 0-.256-.049-.354-.146l-3.5-3.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.146 3.146 5.646-5.646c.195-.195.512-.195.707 0s.195.512 0 .707l-6 6c-.096.097-.224.146-.352.146z" fill="#42b10f" data-original="#000000" style=""/></g></g></svg>
                        </i>
                        <span>10GB Storage</span>
                    </li>
                </div>
                <div class="pricing-actions flex-row-center">
                    <a class="btn-solid-brand size-s">Start Trial</a>
                    <a class="btn-outline-brand size-s">Purchase</a>
                </div>
            </div>
        </li>
        
    </div>
</div>