<div class="home">
    <div class="home-heading">
        <h3>About Project</h3>
        <p>I'm a 5 years experienced Product Engineer, where I have co-founded a product lab and lead product
            engineering at gig-economy startup with marque investors. My expertise as full-stack engineer helps me
            build complete web product and I am also apt with product management skills like user experience,
            feature priortization and market fit.</p>
        
        <p>I've built this project as my learning over the years in web application development. But the project resources are not just limited to my own learning, it is also inspired by a lot of open source code from developer community and so I have kept the project codes to be completely open and to be freely used by the community.</p>
    </div>
    <div class="home-code">
        <div class="code-panel cls-panel flex-row-spaced padded-l">
            <div class="panel-text">
                <h4>Angular Code Repository</h4>
                <p>
                    This repository comprises of complete UI and feature level code built with HTML/CSS and Angular. I have tried the look and feel of project to be minimalistic and pluggable for easy integration with other project.
                </p>
            </div>
            <div class="panel-action">
                <a class="btn-solid-brand size-m" href="https://github.com/cedaus/ng-base" target="_blank">
                    Read Code
                </a>
            </div>
        </div>

        <div class="code-panel cls-panel flex-row-spaced padded-l">
            <div class="panel-text">
                <h4>Django Code Repository</h4>
                <p>
                    This code is not an Introduction to Django. To get the most out of it, you should be familiar with Django. This project comprises of microservices/micro-features built on top of Django Framework like Chat, Authentication, Social Network, and more.
                </p>
            </div>
            <div class="panel-action">
                <a class="btn-solid-brand size-m" href="https://github.com/cedaus/django-microservices" target="_blank">
                    Read Code
                </a>
            </div>
        </div>
        
    </div>
</div>