<div class="hiw-container flex-grid-half">
    <div class="col-1 grid-item">
        <div class="content">
            <h2>Sed ac magna sit amet risus tristique interdum, at vel velit.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.</p>
            <a class="btn-solid-brand size-s">Learn More</a>
        </div>
    </div>
    <div class="col-2 grid-item">
        <div class="content">
            <div class="hiw-list flex-column-start">
                <li class="hiw-list-item flex-row-start">
                    <i class="cls-icon cls-icon-brand size-l">
                        1
                    </i>
                    <div class="text flex-column-start">
                        <h4>How It Works</h4>
                        <span class="text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</span>
                    </div>
                </li>
                <li class="hiw-list-item flex-row-start">
                    <i class="cls-icon cls-icon-brand size-l">
                        2
                    </i>
                    <div class="text flex-column-start">
                        <h4>How It Works</h4>
                        <span class="text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</span>
                    </div>
                </li>
                <li class="hiw-list-item flex-row-start">
                    <i class="cls-icon cls-icon-brand size-l">
                        3
                    </i>
                    <div class="text flex-column-start">
                        <h4>How It Works</h4>
                        <span class="text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</span>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>