@import '../../../../assets/styles/core.scss';
@import '../../../../assets/styles/main.scss';
@import '../../../../assets/styles/constants.scss';


.connect-container {
    .connect-heading {
        text-align: center;
        margin-bottom: $elm-margin-xl;
    }
    .connect-submission {
        &__info {
            width: 70%;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: $elm-margin-xl;
            &-item {
                i {
                    margin-bottom: $elm-margin;
                }
            }
        }
        &__form {
            width: 90%;
            margin: auto;
            &-data {
                margin-left: - $elm-margin;
                margin-right: - $elm-margin;
                margin-bottom: $elm-margin-l;
                .cls-input-textarea {
                    height: 150px;
                }
            } 
        }
    }
}