
@import '../../../../assets/styles/constants.scss';
@import '../../../../assets/styles/core.scss';
@import '../../../../assets/styles/main.scss';

.sidebar {
    background: $color-brand-sidebar;
    height: 100vh;
    width: $sidebar-width;
    position: fixed;
    border-right: $sidebar-border;
    z-index: 100;
    margin-top: $sidebar-margin-top;
    color: $color-brand-sidebar-text;
    .header {
        width: $sidebar-header-width;
        margin: $sidebar-header-margin auto;
        .branding {
            padding: $sidebar-padding;
        }
        .profile {
            &-thumbnail {
                margin-bottom: $elm-margin-l;
            }
            &-text {
                margin-bottom: $elm-margin-l;
            }
            &-actions {
                a {
                    margin: 0px $elm-margin-s;
                }
            }
        }
    }
    .navigation {
        list-style: none;
        width: $sidebar-nav-width;
        margin: auto;
        li {
            display: flex;
            height: $sidebar-nav-height;
            cursor: pointer;
            padding: $sidebar-padding;
            margin-bottom: $elm-margin;
            align-items: center;
            border-radius: $sidebar-nav-item-border-radius;
            font-weight: 700;
            &:hover {
                background-color: $color-brand-sidebar-nav-hover;
            }
            &.selected {
                background-color: $color-brand-sidebar-nav-selected;
                &:hover {
                    background-color: $color-brand-sidebar-nav-selected;
                }
            }
            i {
                margin: auto $elm-margin;
            }
            span {
            }
        }
    }
    .footer {

    }
}