// Color for Brand
$color-brand: #0C1944;
$color-brand-active: #333CCC;
$color-brand-bg-dark: #0C1944;
$color-brand-bg-light: #D1D2F8;
$color-brand-button: #333CCC;
$color-brand-button-text: #FFF;
$color-brand-button-hover: null;
$color-brand-button-hover-text: null;
$color-brand-button-light: #333CCC;
$color-brand-button-light-text: #FFF;
$color-brand-button-light-hover: null;
$color-brand-button-light-hover-text: null;
$color-brand-label: #D1D2F8;
$color-brand-label-text: #FFF;
$color-brand-label-hover: #333CCC;
$color-brand-label-hover-text:#D1D2F8;
$color-brand-text: #333CCC;
$color-brand-icon-box: null;
$color-brand-icon-box-hover: null;
$color-brand-icon: null;
$color-brand-icon-hover: null;
$color-brand-navbar: null;
$color-brand-sidebar: #0C1944;
$color-brand-sidebar-text: #FFF;
$color-brand-navbar-text: #FFF;
$color-brand-sidebar-nav: transparent;
$color-brand-sidebar-nav-selected: #333CCC;
$color-brand-sidebar-nav-hover: #13152f;
$color-brand-list: null;
$color-brand-list-hover: null;
$color-brand-list-hover-text: null;
$color-brand-card: #FFF;

//
$color-p-dark: #000000;
$color-p-normal: #000000;
$color-p-light: #637178;
$color-hover-normal: #F6F6F6;
$color-hover-dark: #F2F2F2;
$color-hover-brand: #F2F2F2;
$color-image-background: #F2F2F2;

// $color-primary: rgb(193, 32, 38);
$color-black: #000000;
$color-black-light: #111111;
$color-grey-darker: #1a1a1a;
$color-grey-dark: #c2c2c2;
$color-grey: #333;
$color-grey-light: #6b6b6b;
$color-grey-lighter: #e6e6e6;
$color-grey-white: #f1f1f1;
$color-grey-blue-lighter: #f7f9fb;
$color-grey-blue-light: #f4f7fb;
$color-white: #ffffff;
$color-white-light: #fafafa;


// Paddings
$padding-xxl: 60px;
$padding-xl: 50px;
$padding-l: 40px;
$padding-m: 20px;
$padding-s: 15px;
$padding-xs: 10px;
$padding-xxs: 5px;
$padding-null: 0px;

// Shadow
$shadow-1: 1px 1px 10px -1px rgba(0, 0, 0, 0.1);
$shadow-2: 1px 2px 10px -1px rgba(0,0,0,0.1);
$shadow-3: 0px 4px 10px 0 rgba(0,0,0,0.19);
$shadow-4: 0 3px 4px -2px rgba(0,0,60,.1), 0 1px 1px 0 rgba(0,0,60,.1);
$shadow-5: 1px 2px 2px -1px rgba(0,0,0,0.1);

// BORDERS
$border-type-null: 1px solid #fff;
$border-type-1: 1px solid #e6e6e6;
$border-type-2: 1px solid #efefef;
$border-type-brand: 1px solid #62bed3; 
$border-grey: 2px solid #efefef;
$border-brand: 2px solid #cb0039;

// Navbar
$navbar-height: 60px;
$navbar-fixed-height: 0px;
$navbar-fixed-mob-height: 0px;
$navbar-margin-left: 0;
$navbar-bg-color: #FFF;

// Sidebar
$sidebar-width: 20%;
$sidebar-margin-top: 0;
$sidebar-widthless: 80%;
$sidebar-padding: 10px;
$sidebar-border: 0px;
$sidebar-header-width: 80%;
$sidebar-header-margin: 50px;
$sidebar-nav-height: 40px;
$sidebar-nav-width: 80%;
$sidebar-nav-item-border-radius: 4px;


// Body
$body-color: #FFF;


// Window
$window-margin-top: $navbar-height;
$window-margin-bottom: $navbar-height;
$window-margin-left: 0;
$window-padding: 10px;
$window-container-margin-top: 50px;
$window-container-width: 100%;
$window-col1-content-width: 85%;
$window-col2-content-width: 85%;
$window-col2-content-padding: 50px;


// Section
$section-margin: 30px;
$section-margin-l: 60px;
$section-padding: 30px;
$section-padding-l: 60px;
$div-margin-s: 15px;
$div-margin: 30px;
$section-width: 80%;

// Layout
$layout-padding-s: 5px;
$layout-padding: 15px;
$layout-padding-l: 20px;



// Element
$elm-margin-s: 5px;
$elm-margin: 10px;
$elm-margin-l: 20px;
$elm-margin-xl: 40px;
$elm-margin-xxl: 50px;

// Inputs
$input-height: 30px;
$input-width: auto;
$input-padding: 5px;
$input-padding-l: 10px;
$input-margin-bottom: 10px;
$input-border-radius: 4px;
$input-text-color: #333;
$input-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
$input-border: 1px solid #efefef !important;
$input-bg-color: #FFF;

// Buttons
$button-border-radius: 3px;
$button-bg-color: #FFF;
$button-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
$button-margin-bottom: 10px;
$button-padding: 15px;

// Dropdown
$dropdown-bg: #FFF;
$dropdown-border: 2px solid rgba(34,34,34,.05);
$dropdown-shadow: 0 10px 40px 0 rgba(12,20,39,.1);
$dropdown-border-radius: 4px;
$dropdown-list-shadow: 0 10px 40px 0 rgb(12 20 39 / 10%);
$dropdown-list-border-radius: 4px;


// Panel
$panel-border-radius: 3px;
$panel-bg-color: #FFF;
$panel-padding: 20px;
$panel-shadow: none;
$panel-margin: 0;
$panel-border: 1px solid #efefef;
$panel-padding: 15px;

// Cards
$card-border-radius: 3px;
$card-border-radius-l: 5px;
$card-bg-color: $color-brand-card;
$card-padding: 20px;
$card-padding-l: 40px;
$card-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
$card-margin: 0;
$card-border: 1px solid #efefef;
$card-padding: 15px;

// Labels
$label-border-radius: 5px;
$label-bg-color: $color-brand-bg-light;
$label-text-color: $color-brand-active;
$label-padding-horizontal: 10px;
$label-padding-horizontal-m: 20px;
$label-padding-horizontal-l: 30px;
$label-padding-vertical: 5px;
$label-padding-vertical-m: 10px;
$label-padding-vertical-l: 20px;

// Icons
$icon-container-border-radius: 5px;
$icon-container-m: 35px;
$icon-container-s: 25px;
$icon-container-s: 25px;
$icon-container-l: 55px;
$icon-container-xl: 75px;
$icon-container-color: #1a1818;
$icon-container-hover-color: $color-brand-icon-box-hover;
$icon-container-border: $border-type-1;
$icon-container-shadow: none;

// Images
$img-container-border-radius: 5px;
$img-container-width-s: 40px;
$img-container-height-s: 40px;
$img-container-width: 50px;
$img-container-height: 50px;
$img-container-width-l: 85px;
$img-container-height-l: 85px;
$img-container-width-xl: 160px;
$img-container-height-xl: 160px;
$img-container-color: #EFEFEF;
$img-container-border: $border-type-1;

// Thumbnail 
$thumbnail-border-radius: 5px;
$thumbnail-bg-color: #F4F4F4;
$thumbnail-border: 0px;

// Typography
$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 12px;
$font-size-xs: 10px;
$font-size-xxs: 8px;
$font-weight: 500;
$font-weight-bold: 700;

// Colors

//
$color-body: #F5F6FC;
$color-wrapper: #F5F6FC;



// Container
$container-width: 90%;

